.about-us h2 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 35px;
  color: #157762; 
}

.about-us p
{
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 20px;
  color: #157762;
}

.about-us-header h2 {

  font-size: 35px;
}

.about-us-header p {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 20px;
  padding-top: 20px;
}

.about-us-first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.about-us-title {
  font-size: 4rem;
  background-color: #f7d4d4;
  color: #157762; 
  line-height: 1;
}

.about-us-divider {
  width: 35%;
  height: 1px;
  background-color: #157762;
  margin-top: 5px;
  margin-bottom: 15px;
}

.about-us-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about-us-logos img {
  max-height: 60px;
  width: 200px;
}

.about-us-vdivider {
  background-color: #157762;
  width: 1px;
  height: 3.5rem;
  margin: 0 1.5rem;
}

.section-line {
  height: 1px;
  background-color: #157762;
}

.about-us-second-container p {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 20px;
  color: #157762;
  line-height: 1.6;
  margin-bottom: 20px;
}


.about-us-second-container mark {
  background-color: #f7d4d4;
  color: #157762;
  padding: 0 2px;
}


.about-us-second-header h2 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 35px;
  color: #157762;
}


.section-line {
  height: 1px;
  background-color: #157762;
  margin-bottom: 20px;
}

.group {
  padding: 20px 20px 40px; 
  text-align: center;
  background-color: #157762;
  position: relative;
  overflow: hidden; 
  margin-top: 60px; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeSlideUp 0.8s ease forwards;
  opacity: 0;
  transform: translateY(30px);
  animation-delay: 0.2s;
  
}

.group h2 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 38px;
  color: white;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 80px; 
  padding: 10px;
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 80px; 
}


.person {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 100px 30px 40px;
  max-width: 360px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 0.8s ease forwards;
  overflow: visible;
}

.person img {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border: 4px solid #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.person:nth-child(1) {
  animation-delay: 0.2s;
}
.person:nth-child(2) {
  animation-delay: 0.4s;
}
.person:nth-child(3) {
  animation-delay: 0.6s;
}


.person:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;

}
.person h3 {
  font-family: "Proxima Nova Bold", sans-serif;
  color: #157762;
  font-size: 18px;
  margin-bottom: 10px;
}

.person p {
  font-family: "Proxima Nova Regular", sans-serif;
  color: #157762;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.4;
}


/* OUR TRACK RECORD */

.our-track-record {
  padding: 40px 20px;
  text-align: center;
  background: #ffffff;
}

.our-track-record h2 {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 35px;
  color: #157762;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 40px;
  padding: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 24px;

  
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.295);

  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 28px;
  color: #157762;
  min-width: 400px;
  justify-content: center;
  transition: transform 0.2s ease;
}

.stat-box:hover {
  transform: translateY(-4px);
}

.stat-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}



.track-items {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
}

.track-items li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  color: #157762;
  margin-bottom: 14px;
  line-height: 1.6;
}

.check-icon {
  width: 20px;
  height: auto;
  margin-top: 4px;
}
