header {
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Proxima Nova Regular", sans-serif;
}



nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px; 
    margin: 0;
    padding: 0;
}

nav ul li {
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li:hover {
    background-color: rgba(21, 119, 98, 0.1);
    transform: scale(1.05);
}

nav ul li.active {
    background-color: #157762;
}

nav ul li.active a {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: #157762;
    font-weight: 500;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 20px;
    transition: color 0.3s ease;
}

nav .language-selector {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

nav .language-button {
    color: #157762;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}

nav .language-button.selected {
    background-color: transparent; 
    color: #157762; 
    font-weight: bold; 
}

nav .language-button:hover {
    background-color: #157762;
    color: white;
}

