* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Proxima Nova Regular";
    src: url("/Fonts/proxima-nova-regular.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("/Fonts/proxima-nova-bold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Extrabold";
    src: url("/Fonts/proxima-nova-extrabold.otf") format("opentype");
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("/Fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Playfair Display Regular";
    src: url("/Fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display Italic";
    src: url("/Fonts/PlayfairDisplay-Italic.ttf") format("truetype");
}


.italico {
    font-style: italic;
    font-family: "Playfair Display Italic", serif;
}

.negrito {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova Regular", sans-serif;
}

main {
    padding-top: 100px;
    padding-bottom: 160px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    min-height: calc(100vh - 260px);
}
